@font-face {
    font-family: "NanumBarunGothic";
    font-style: normal;
    font-weight: 400;
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
            format("embedded-opentype"),
        url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
            format("woff"),
        url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
            format("truetype");
}

@font-face {
    font-family: "NanumBarunGothic";
    font-style: normal;
    font-weight: 700;
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix")
            format("embedded-opentype"),
        url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff")
            format("woff"),
        url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf")
            format("truetype");
}

@font-face {
    font-family: "NanumBarunGothic";
    font-style: normal;
    font-weight: 300;
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix")
            format("embedded-opentype"),
        url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff")
            format("woff"),
        url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf")
            format("truetype");
}

.nanumbarungothic * {
    font-family: "NanumBarunGothic", sans-serif;
}

html > body,
html > body .toastui-editor-contents,
html > body .ProseMirror,
html > body .toastui-editor-md-code,
html > body .toastui-editor-md-code-block {
    font-family: "NanumBarunGothic", sans-serif;
    font-weight: 400;
    text-underline-position: under;
    color: hsla(var(--bc) / var(--tw-text-opacity, 1));
}

html > body .toastui-editor-contents {
    font-size: 1.1rem;
}

.border_table th,
.border_table td {
    border-width: 1px;
    border-color: #79797965;
}

.base_text_color {
    color: hsla(var(--bc) / var(--tw-text-opacity, 1)) !important;
}

.base_bg {
    background-color: hsla(var(--bc) / var(--tw-bg-opacity, 0.25));
}

.base_border_color {
    border-color: hsl(var(--bc) / var(--tw-border-opacity));
}

input {
    padding-left: 1em !important;
}
