@font-face {
    font-family: "MaruBuri-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}
html > body {
    font-family: "LotteMartDream", sans-serif;
}

.border_table th,
.border_table td {
    border-width: 1px;
    border-color: #79797965;
}

.base_text_color {
    color: hsla(var(--bc) / var(--tw-text-opacity, 1));
}

.base_bg {
    background-color: hsla(var(--bc) / var(--tw-bg-opacity, 0.25));
}

.base_border_color {
    border-color: hsl(var(--bc) / var(--tw-border-opacity));
}

input {
    padding-left: 1em !important;
}
